# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
 - List of popular languages for Data Science
 - list of some libraries used for Data Science
 - list of some tools used for Data science
 - Examples of arithmetics in python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. SKlearn

|Data Science Tools|
-------------------
|Handook|
|Airflow|
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Marco